<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header>
      <img class="logo" src="../images/logo.png"/>
      <h1>Conocé nuestras escuelas</h1>
    </header>

    <section id="escuelas" class="clearfix">

      <ul>
        <li>

          <div class="school" style="margin-top: 0;">
            <div class="school_left">
              <img class="school_image" src="../images/decana.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.MetodoDeRoseDecana.com.ar">Sede Decana</a></h2>
              <p>Av. Corrientes 2940 3º 7 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.60453,-58.409801&amp;spn=0.012363,0.018239&amp;z=15&amp;output=embed" marginwidth="0" marginheight="0">maps</a></p>
              <p>4864-7090</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/derosedecana" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://twitter.com/sededecana" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://es.foursquare.com/sededecana" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/belgrano.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.derosebelgrano.com.ar">Sede Belgrano</a></h2>
              <p>Av. Luis M. Campos 1395 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.562909,-58.443789&amp;spn=0.012369,0.018239&amp;z=15&amp;output=embed">maps</a></p>
              <p>4785-4882</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/derosebelgrano" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://www.twitter.com/DeROSE_Belgrano" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose--belgrano/4b55225ff964a52063dc27e3" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/callao.jpg"/>
            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.derosecallao.com">Sede Callao</a></h2>
              <p>Av. Callao 733 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.599868,-58.395038&amp;spn=0.012364,0.018239&amp;z=15&amp;output=embed">maps</a></p>
              <p>4816-5777</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/callao.metododerose" class="ir social facebook">Facebook</a>
                <a target="_blank" href="https://twitter.com/DeRoseCallao" class="ir social twitter">Twitter</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/cervino.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="www.derosecervino.com.ar">Sede Cerviño</a></h2>
              <p>República Árabe Siria 3088 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.577822,-58.417225&amp;spn=0.012367,0.018239&amp;z=15&amp;output=embed">maps</a></p>
              <p>4801-8522</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/DeRoseCervino" class="ir social facebook">Facebook</a>
                <a target="_blank" href="https://twitter.com/DeRoseCervino" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose--cervi%C3%B1o/50663727f2e79e2d2e0002a7" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/palermo.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.DeRosePalermo.com">Sede Palermo</a></h2>
              <p>F.J.S.M de Oro 1702 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.585206,-58.430958&amp;spn=0.012366,0.018239&amp;z=15&amp;output=embed">map</a></p>
              <p>4778-3805</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/sedepalermo" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://twitter.com/sedepalermo" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose-palermo/4d70f1b9812e2c0f7529f67a" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/recoleta.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.MetodoDeRoseBuenosAires.com">Sede Recoleta</a></h2>
              <p>Vicente López 1661, local 14 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.590541,-58.389802&amp;spn=0.012365,0.018239&amp;z=15&amp;output=embed">mapa</a></p>
              <p>4812-7805</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/sederecoleta" class="ir social facebook">Facebook</a>
                <a target="_blank" href="https://twitter.com/DeRose_Recoleta" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://foursquare.com/v/sede-recoleta-metodo-de-rose/4c993d65a004a1cd92133e6e" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/nunez.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://www.DeRosenunez.com.ar">Sede Nuñez</a></h2>
              <p>Crisólogo Larralde 1721 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.545378,-58.462329&amp;spn=0.012372,0.018239&amp;z=15&amp;output=embed" marginwidth="0" marginheight="0">mapa</a></p>
              <p>4703-3215</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/metododerose.nunez" class="ir social facebook">Facebook</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose-n%C3%BA%C3%B1ez/4cdc45ef39172d43b59f83d8" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/sanisidro.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href="http://derosesanisidro.com.ar/">Sede San Isidro</a></h2>
              <p>Av. Fondo de la Legua 177 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-34.498917,-58.549662&amp;spn=0.012379,0.018239&amp;z=15&amp;output=embed" marginwidth="0" marginheight="0">mapa</a></p>
              <p>4766-4291</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/DeRosesanisidro" class="ir social facebook">Facebook</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose-san-isidro/4d1bed4b2fa36a31be86f73d" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/martinez.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href=" http://yogaenmartinez.com.ar/">Sede Martinez</a></h2>
              <p>Arenales 1983 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=208976377062283499566.0004d2b41e02b39b84297&amp;ie=UTF8&amp;ll=-34.485936,-58.504686&amp;spn=0,0&amp;t=p&amp;output=embed">maps</a></p>
              <p>4733-3801</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/SwaSthyaEnMartinez" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://twitter.com/SwaSthyaMTZ" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://es.foursquare.com/v/sw%C3%A1sthya-en-martinez/4d6e532dcf4da0904693e3d6" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/cordoba.jpg"/>

            </div>
            <div class="school_right">
              <h2>Sede Cordoba</h2>
              <p>Buenos Aires 764 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-31.424672,-64.188523&amp;spn=0.012817,0.018239&amp;z=15&amp;output=embed">maps</a></p>
              <p>(0351) 422-2781</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/Metodo.DeRose.Cordoba" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://twitter.com/MetodoDeRoseCBA" class="ir social twitter">Twitter</a>
              </div>
            </div>
          </div>
        </li>
        <li>

          <div class="school">
            <div class="school_left">
              <img class="school_image" src="../images/mendoza.jpg"/>

            </div>
            <div class="school_right">
              <h2><a target="_blank" href=" http://www.derosemendoza.com.ar">Sede Mendoza</a></h2>
              <p>Paso de los Andes 1047 <a target="_blank" class="ir maps" href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=217128129344971624699.00048f22727b32639ec2d&amp;ie=UTF8&amp;t=p&amp;ll=-32.889101,-68.859386&amp;spn=0.025226,0.036478&amp;z=14&amp;output=embed">maps</a></p>
              <p>(0261) 425-7372</p>

              <div>
                <a target="_blank" href="https://www.facebook.com/DeRoseMendoza" class="ir social facebook">Facebook</a>
                <a target="_blank" href="http://twitter.com/DeRoseMendoza" class="ir social twitter">Twitter</a>
                <a target="_blank" href="https://foursquare.com/v/m%C3%A9todo-derose-mendoza/4f6e52d3754a51dc64828d30" class="ir social foursquare">Foursquare</a>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>